<!DOCTYPE html>
<html>
<head>
    <title>Lista de doadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Doadores cadastrados</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <ul>
        {% for doador in doadores %}
            <li>
                {{ doador.nome }} - {{ doador.telefone }} - {{ doador.tipo_pessoa }}

                {% if doador.cpf %}
                    - CPF: {{ doador.cpf }}
                {% endif %}

                {% if doador.cnpj %}
                    - CNPJ: {{ doador.cnpj }}
                {% endif %}

                {% if doador.endereco %}
                    - {{ doador.endereco }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>