<!DOCTYPE html>
<html>
<head>
    <title>Registrar doação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Registrar doação</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        Doador*: 
        <select name="doador" required>
            {% for doador in doadores %}
                <option value="{{ doador.id }}">{{ doador.nome }}</option>
            {% endfor %}
        </select><br>
        Data:
        <input type="text" name="data" maxlength="8" pattern="\d{8}" required><br>
        Valor:
        <input type="number" name="valor" step="0.01"><br>
        Forma de pagamento:
        <select name="forma_pagamento">
            <option value="">Selecione</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Crédito">Cartão de Crédito</option>
            <option value="Débito">Cartão de Débito</option>
            <option value="Pix">Pix</option>
        </select><br>
        Tipo de doação:
        <select name="tipo_doacao">
            <option value="">Selecione</option>
            <option value="Normal">Normal</option>
            <option value="Anonima">Anônima</option>
            <option value="Diversas">Diversas</option>
        </select><br>
        Observação: <input type="text" name="observacao"><br>
        <button type="submit">Registrar Doação</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>